<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Detail</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <style>
    .author-info {
      color: #777;
    }
    .view-time {
      color: #999;
    }
  </style>
</head>
<body>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="mb-3">Blog Title</h1>
      <div class="author-info mb-2">
        <i class="fas fa-user"></i> Author: John Doe
      </div>
      <div class="view-time mb-3">
        <i class="fas fa-eye"></i> Views: 1200 &nbsp; | &nbsp;
        <i class="fas fa-clock"></i> Time to Read: 5 min
      </div>
      <img src="blog-image.jpg" class="img-fluid mb-4" alt="Blog Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis ex at purus elementum blandit vel at ipsum. Fusce eleifend libero id est faucibus, et feugiat nunc malesuada. Etiam a magna fringilla, varius justo at, cursus nunc.</p>
      <p>Suspendisse potenti. Duis efficitur risus sed sapien facilisis bibendum. Nunc vehicula enim non libero tristique dignissim.</p>
      <blockquote class="blockquote">
        <p class="mb-0">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed vitae justo id odio porttitor vestibulum. Integer ac arcu ut risus placerat fermentum.</p>
        <footer class="blockquote-footer">Someone Famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
      <p>Phasellus sodales odio at luctus posuere. Cras bibendum urna vel diam volutpat, id blandit tellus ultrices.</p>
      <p>Donec in dolor vel purus dignissim bibendum. Fusce a quam nec elit suscipit facilisis id a elit.</p>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
